Source: ros-indigo-combine-dr-measurements
Section: misc
Priority: extra
Maintainer: Daiki Maekawa <method_aspect_card@yahoo.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin


Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-combine-dr-measurements
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The combine_dr_measurements package
