Source: ros-indigo-icart-mini-description
Section: misc
Priority: extra
Maintainer: Daiki Maekawa <method_aspect_card@yahoo.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-icart-mini-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The icart_mini_description package
